In [1]:
import json

d = open('/Users/ER/Desktop/GA:ADA/Course_Materials/project4/project-4/mod2.json')

In [2]:
birth = json.load(d)

In [3]:
import pandas as pd

df_birth = pd.DataFrame(birth['data']['counties'])

In [4]:
df_birth

,fips,name,maternity_care_access,ob_hospitals,ob_providers
0,1001,Autauga,Low Access,No Hospitals or Birth Centers,1-29 Obstetric Provider
1,1003,Baldwin,Full Access,No Hospitals or Birth Centers,60+ Obstetric Provider
2,1005,Barbour,Low Access,No Hospitals or Birth Centers,1-60 Obstetric Provider
3,1007,Bibb,Low Access,1 Hospitals or Birth Centers,No Obstetric Provider
4,1009,Blount,Low Access,No Hospitals or Birth Centers,1-60 Obstetric Provider
...,...,...,...,...,...
3137,56037,Sweetwater,Full Access,1 Hospitals or Birth Centers,60+ Obstetric Provider
3138,56039,Teton,Full Access,1 Hospitals or Birth Centers,60+ Obstetric Provider
3139,56041,Uinta,Full Access,1 Hospitals or Birth Centers,60+ Obstetric Provider
3140,56043,Washakie,Low Access,1 Hospitals or Birth Centers,No Obstetric Provider
3141,56045,Weston,Maternity Care Desert,No Hospitals or Birth Centers,No Obstetric Provider

In [5]:
df_birth['fips']=df_birth['fips'].apply(lambda x: '{0:0>5}'.format(x))

In [6]:
df_birth.head(5)

,fips,name,maternity_care_access,ob_hospitals,ob_providers
0,01001,Autauga,Low Access,No Hospitals or Birth Centers,1-29 Obstetric Provider
1,01003,Baldwin,Full Access,No Hospitals or Birth Centers,60+ Obstetric Provider
2,01005,Barbour,Low Access,No Hospitals or Birth Centers,1-60 Obstetric Provider
3,01007,Bibb,Low Access,1 Hospitals or Birth Centers,No Obstetric Provider
4,01009,Blount,Low Access,No Hospitals or Birth Centers,1-60 Obstetric Provider

In [7]:
df_birth['fips'] = df_birth['fips'].astype('str')

In [8]:
df_birth.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3142 entries, 0 to 3141
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   fips                   3142 non-null   object
 1   name                   3142 non-null   object
 2   maternity_care_access  3138 non-null   object
 3   ob_hospitals           3142 non-null   object
 4   ob_providers           3142 non-null   object
dtypes: object(5)
memory usage: 122.9+ KB

In [9]:
df_birth.to_csv('str-reproductive_data.csv')